<div class="three-grid">
    <div class="workout-plan-header">{{username}}'s Muscle Building Plan (3 Day Rotation)</div>
    <div class="top-row first-col">Day</div>
    <div class="top-row second-col">Day 1</div>
    <div class="top-row third-col">Day 2</div>
    <div class="top-row fourth-col">Day 3</div>
    <div class="left-side first-col">Focus</div>
    <div class="row-B second-col">Upper</div>
    <div class="row-B third-col">Lower</div>
    <div class="row-B fourth-col">Full body</div>
    <div class="left-side first-col">Exercise 1</div>
    <div class="row-A second-col fourth-row">Barbell bench press</div>
    <div class="row-A third-col fourth-row">Barbell squat</div>
    <div class="row-A fourth-col fourth-row">Deadlift</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col ">8-10</div>
    <div class="row-B second-second-col ">4</div>
    <div class="row-B third-first-col">6-8</div>
    <div class="row-B third-second-col">4</div>
    <div class="row-B fourth-first-col">6-8</div>
    <div class="row-B fourth-second-col">4</div>
    <div class="left-side first-col">Exercise 2</div>
    <div class="row-A second-col">Bent over row</div>
    <div class="row-A third-col">45° leg press</div>
    <div class="row-A fourth-col">Incline barbell press</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">8-10</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">8-10</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">8-10</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="left-side first-col">Exercise 3</div>
    <div class="row-A second-col">Seated dumbbell press</div>
    <div class="row-A third-col">Romanian deadlift (dumbbell)</div>
    <div class="row-A fourth-col">Goblet squat</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">10-12</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">8-10</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">12-15</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="left-side first-col">Exercise 4</div>
    <div class="row-A second-col">Wide grip pull ups</div>
    <div class="row-A third-col">Bulgarian split squats</div>
    <div class="row-A fourth-col">Face pulls</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">6-8</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">10-12</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">12-15</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="left-side first-col">Exercise 5</div>
    <div class="row-A second-col">Skullcrushers</div>
    <div class="row-A third-col">Leg extension</div>
    <div class="row-A fourth-col">-</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">10-12</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">12-15</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">-</div>
    <div class="row-B fourth-second-col">-</div>
    <div class="left-side first-col">Exercise 6</div>
    <div class="row-A second-col">Bicep curl</div>
    <div class="row-A third-col">-</div>
    <div class="row-A fourth-col">-</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">10-12</div>
    <div class="row-B second-second-col">2</div>
    <div class="row-B third-first-col">-</div>
    <div class="row-B third-second-col">-</div>
    <div class="row-B fourth-first-col">-</div>
    <div class="row-B fourth-second-col">-</div>
</div>
<div class="plan-section-grid">
    <h3 class="plan-section-header">Strategy</h3>
</div>
<div class="about-grid">
    <p>Try to finish each day <b>within 10g</b> of each of your macro goals every day. This will ensure you're in a
        calorie surplus and have enough energy to build muscle and progress in the gym, but only a small one to limit
        fat gain. Use protein shakes if you struggle to eat enough protein/get enough calories.
    </p>
    <p>To build muscle effectively, you will need to have adequate recovery as well as nutrition and training. Make sure
        you get the recommended <b>8 hours</b> of sleep a night.
    </p>
    <p>Building muscle is all about <b>time under tension.</b> Focus on form and control each rep. In the eccentric
        phase (lifting the weight back to its starting position), take about 2 seconds after each rep to control the
        weight back down. This will increase your time under tension and promote muscle growth, whilst also encouraging
        good form. Start at a very comfortable weight to start, and as the weeks progress try to <b>move the weight up
            each session</b>. Track your sessions so you know
        what you lifted last time. As things get heavier, start towards the lower end of the rep range and move up from
        there. Make sure to warm up with light weights at the beginning of each session.
    </p>
    <p><b>Track your weight</b> throughout the weeks. If your weight remains the same or even drops, up your calories
        slowly by adding 20g of carbs each week until you start to gain weight at a slow rate.
    </p>
    <p>Be patient. Building muscle takes a long time and a lot of consistency. Look at progress in terms of months not
        weeks, and enjoy the
        gradual changes you make to your body.</p>
</div>