<div class="four-grid">
    <div class="workout-plan-header">{{username}}'s Muscle Building Plan (5 Day Rotation)</div>
    <div class="top-row first-col">Day</div>
    <div class="top-row second-col">Day 1</div>
    <div class="top-row third-col">Day 2</div>
    <div class="top-row fourth-col">Day 3</div>
    <div class="top-row fifth-col">Day 4</div>
    <div class="left-side first-col">Focus</div>
    <div class="row-B second-col">Push</div>
    <div class="row-B third-col">[focus]</div>
    <div class="row-B fourth-col">[focus]</div>
    <div class="row-B fifth-col">[focus]</div>
    <div class="left-side first-col">Exercise 1</div>
    <div class="row-A second-col fourth-row">Bench press</div>
    <div class="row-A third-col fourth-row">[exercise]</div>
    <div class="row-A fourth-col fourth-row">[exercise]</div>
    <div class="row-A fifth-col fourth-row">[exercise]</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col ">8-10</div>
    <div class="row-B second-second-col ">4</div>
    <div class="row-B third-first-col">[reps]</div>
    <div class="row-B third-second-col">[sets]</div>
    <div class="row-B fourth-first-col">[reps]</div>
    <div class="row-B fourth-second-col">[sets]</div>
    <div class="row-B fifth-first-col">[reps]</div>
    <div class="row-B fifth-second-col">[sets]</div>
    <div class="left-side first-col">Exercise 2</div>
    <div class="row-A second-col">Seated dumbbell press</div>
    <div class="row-A third-col">[exercise]</div>
    <div class="row-A fourth-col">[exercise]</div>
    <div class="row-A fifth-col">[exercise]</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">8-10</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">[reps]</div>
    <div class="row-B third-second-col">[sets]</div>
    <div class="row-B fourth-first-col">[reps]</div>
    <div class="row-B fourth-second-col">[sets]</div>
    <div class="row-B fifth-first-col">[reps]</div>
    <div class="row-B fifth-second-col">[sets]</div>
    <div class="left-side first-col">Exercise 3</div>
    <div class="row-A second-col">[exercise]</div>
    <div class="row-A third-col">[exercise]</div>
    <div class="row-A fourth-col">[exercise]</div>
    <div class="row-A fifth-col">[exercise]</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">[reps]</div>
    <div class="row-B second-second-col">[sets]</div>
    <div class="row-B third-first-col">[reps]</div>
    <div class="row-B third-second-col">[sets]</div>
    <div class="row-B fourth-first-col">[reps]</div>
    <div class="row-B fourth-second-col">[sets]</div>
    <div class="row-B fifth-first-col">[reps]</div>
    <div class="row-B fifth-second-col">[sets]</div>
    <div class="left-side first-col">Exercise 4</div>
    <div class="row-A second-col">[exercise]</div>
    <div class="row-A third-col">[exercise]</div>
    <div class="row-A fourth-col">[exercise]</div>
    <div class="row-A fifth-col">[exercise]</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">[reps]</div>
    <div class="row-B second-second-col">[sets]</div>
    <div class="row-B third-first-col">[reps]</div>
    <div class="row-B third-second-col">[sets]</div>
    <div class="row-B fourth-first-col">[reps]</div>
    <div class="row-B fourth-second-col">[sets]</div>
    <div class="row-B fifth-first-col">[reps]</div>
    <div class="row-B fifth-second-col">[sets]</div>
    <div class="left-side first-col">Exercise 5</div>
    <div class="row-A second-col">[exercise]</div>
    <div class="row-A third-col">[exercise]</div>
    <div class="row-A fourth-col">[exercise]</div>
    <div class="row-A fifth-col">[exercise]</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">[reps]</div>
    <div class="row-B second-second-col">[sets]</div>
    <div class="row-B third-first-col">[reps]</div>
    <div class="row-B third-second-col">[sets]</div>
    <div class="row-B fourth-first-col">[reps]</div>
    <div class="row-B fourth-second-col">[sets]</div>
    <div class="row-B fifth-first-col">[reps]</div>
    <div class="row-B fifth-second-col">[sets]</div>
</div>