<a id="buildmusclefaq"></a>
<div class="sectionA grid-item">
        <h2>BUILDING MUSCLE <img class="FAQicon" src="https://www.flaticon.com/svg/static/icons/svg/2585/2585673.svg">
        </h2>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: What's the best rep range for building muscle? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: As with many things in fitness, there is no one best answer. Studies have shown that, generally,
            optimal muscle hypertrophy lies in the 8-12 rep range. However, training in ranges other than that may (and
            probably will) still be beneficial.</p>
        <p class="A">Muscle hypertrophy comes from time under tension. If the muscles are exposed to a high enough
            stress for a long enough time, they will grow. This can be achieved with a variety of rep ranges!</p>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: Can I build muscle and lose weight at the same time? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: If you are very overweight, a beginner lifter, or coming back from a long break from training,
            yes! These groups of people are so sensitive to resistance training that it is possible for them to
            experience muscle growth while simultaneously stripping off fat. This is 'body recomposition', and is seen
            as a holy grail of sorts. Lucky them.</p>
        <p class="A">However, this won't last forever. They will eventually struggle to keep that up and will have to
            resort to choosing one or the other like everyone else.</p>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: How long will it take to build muscle? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: In short, a long time. People spend months and years in order to build their bodies up over
            time. Prepare yourself for a long journey, and don't expect to look a lot different in a couple of weeks.
        </p>
        <p class="A">That said, a beginner can put on a lot of muscle in a relatively short amount of if they get their
            training and nutrition right. For untrained men, this can be as much as a kilo a month!</p>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: I'm a girl. Will I end up looking bulky and manly? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: Are you going to take anabolic steroids and dedicate a lot of time to training? If so, then
            maybe. But you probably aren't, so probably not.</p>
        <p class="A">Due to hormonal differences, women gain muscle around half as quickly as men on average. Even with
            consistent training, women rarely achieve the masculine, bulky look you may be worried about.</p>
        <p class="A">The extra muscle that women gain through weight training will more likely lead to a fitter and
            healthier looking physique overall.</p>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: Compound movements or isolation exercises for muscle growth? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: Why not both? Compound movements should be the backbone of any programme due to the ease of
            progression and the numerous muscle groups they recruit and affect.</p>
        <p class="A">That said, isolation exercises are great too. They let someone target a specific muscle and
            really stress it. In combination, the two used together will give better results than if only one was
            used.</p>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: Can I build muscle and lose weight at the same time? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: If you are very overweight, a beginner lifter, or coming back from a long break from training,
            yes! These groups of people are so sensitive to resistance training that it is possible for them to
            experience muscle growth while simultaneously stripping off fat. This is 'body recomposition', and is seen
            as a holy grail of sorts. Lucky them.</p>
        <p class="A">However, this won't last forever. They will eventually struggle to keep that up and will have to
            resort to choosing one or the other like everyone else.</p>
    </div>