<a id="burnfatfaq"></a>
<div class="sectionA grid-item">
    <h2>BURNING FAT <img class="FAQicon" src="https://www.flaticon.com/svg/static/icons/svg/3163/3163689.svg"></h2>
</div>
<div class="QandA grid-item accented">
    <h4 class="Q">
        Q: Shouldn't I be doing lots of cardio? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
    </h4>
    <p class="A">A: Most of your fat loss will come from your diet. This is the biggest factor in creating a calorie
        deficit, which means you're burning more calories each day than you are consuming. Thus, cardio can help
        push that calorie deficit a bit more, but definitely isn't necessary.</p>
</div>
<div class="QandA grid-item accented">
    <h4 class="Q">
        Q: What kind of cardio should I choose? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
    </h4>
    <p class="A">A: Any form of cardio can be used to burn calories, so it's best to pick whichever you enjoy and
        will do consistently.</p>
</div>
<div class="QandA grid-item accented">
    <h4 class="Q">
        Q: Is HIIT better than standard cardio? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
    </h4>
    <p class="A">A: There are both pros and cons to HIIT. It can be a fantastic way to burn lots of calories in a
        short amount of time (and for a long time after the session also), but it's very taxing on the body.
        Performing HIIT very often may not be as sustainable as steady state cardio.</p>
    <p class="A">We would advise adding in HIIT once or twice a week when approaching your goal weight or physique
        in order to blast the last few pesky pounds.</p>
</div>
<div class="QandA grid-item accented">
    <h4 class="Q">
        Q: How do I burn belly fat specifically? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
    </h4>
    <p class="A">A: Burning fat from a specific area is called spot reduction, and unfortunately it is a myth. When
        you burn fat, you cannot control what part of the body from which that fat is burned.</p>
    <p class="A">Be persistent with your fat loss journey, and it will come off!</p>
</div>
<div class="QandA grid-item accented">
    <h4 class="Q">
        Q: Wait... Lifting weights to lose weight? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
    </h4>
    <p class="A">A: Yep. Resistance training is necessary to get the lean, fit body that you (probably) want.
        Building and maintaining muscle mass makes it easier to lose weight by telling the body to burn the fat
        instead of the muscle. Both can be given up for extra energy, and lifting weights encourages the body to
        make the right choice.</p>
    <p class="A">Harder, more taxing lifts like the squat can burn a decent amount of calories too. That will boost
        your TDEE up a bit.</p>
</div>
<div class="QandA grid-item accented">
    <h4 class="Q">
        Q: TDEE? What's that? <img class="faqarrow" src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg"
            height="1rem" width="1rem">
    </h4>
    <p class="A">A: TDEE stands for total daily energy expenditure. This just means the number of calories an
        individual burns on an average day, and is also known as 'maintenance calories' as eating your TDEE each day
        should maintain your weight.</p>
    <p class="A">To burn fat and lose weight, we should eat slightly less calories than our TDEE to force the body
        to make up the deficit by burning fat.</p>
</div>