<div class="five-grid">
    <div class="workout-plan-header">{{username}}'s Muscle Building Plan (5 Day Rotation)</div>
    <div class="top-row first-col">Day</div>
    <div class="top-row second-col">Day 1</div>
    <div class="top-row third-col">Day 2</div>
    <div class="top-row fourth-col">Day 3</div>
    <div class="top-row fifth-col">Day 4</div>
    <div class="left-side first-col">Focus</div>
    <div class="row-B second-col">Anterior upper</div>
    <div class="row-B third-col">Anterior lower</div>
    <div class="row-B fourth-col">Posterior upper</div>
    <div class="row-B fifth-col">Posterior lower</div>
    <div class="row-B sixth-col">Recovery</div>
    <div class="left-side first-col">Exercise 1</div>
    <div class="row-A second-col">Bench press</div>
    <div class="row-A third-col">Front squat</div>
    <div class="row-A fourth-col">Pendlay row</div>
    <div class="row-A fifth-col">Deadlift</div>
    <div class="row-A sixth-col">Weighted plank</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col ">5</div>
    <div class="row-B second-second-col ">4</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">4</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">4</div>
    <div class="row-B fifth-first-col">5</div>
    <div class="row-B fifth-second-col">4</div>
    <div class="row-B sixth-first-col">120s</div>
    <div class="row-B sixth-second-col">3</div>
    <div class="left-side first-col">Exercise 2</div>
    <div class="row-A second-col">Skullcrusher</div>
    <div class="row-A third-col">Dumbbell walking lunge</div>
    <div class="row-A fourth-col">Rear delt fly</div>
    <div class="row-A fifth-col">Hip thrust</div>
    <div class="row-A sixth-col">Walking lunges (dumbbell)</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">8-10</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">10-12</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">12-15</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="row-B fifth-first-col">8-10</div>
    <div class="row-B fifth-second-col">3</div>
    <div class="row-B sixth-first-col">3mins</div>
    <div class="row-B sixth-second-col">2</div>
    <div class="left-side first-col">Exercise 3</div>
    <div class="row-A second-col">Dumbbell seated press</div>
    <div class="row-A third-col">Spanish squat</div>
    <div class="row-A fourth-col">Single arm dumbbell row</div>
    <div class="row-A fifth-col">Squat</div>
    <div class="row-A sixth-col">Dips</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">8-10</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">12-15</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">8-10</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="row-B fifth-first-col">8-10</div>
    <div class="row-B fifth-second-col">3</div>
    <div class="row-A sixth-first-col">10</div>
    <div class="row-A sixth-second-col">3</div>
    <div class="left-side first-col">Exercise 4</div>
    <div class="row-A second-col">Zottman curl</div>
    <div class="row-A third-col">Single leg extension</div>
    <div class="row-A fourth-col">Overhead press</div>
    <div class="row-A fifth-col">Elevated glute bridge</div>
    <div class="row-A sixth-col">Personal stretches</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">10-12</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">20</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">6-8</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="row-B fifth-first-col">8-10</div>
    <div class="row-B fifth-second-col">3</div>
    <div class="row-B sixth-first-col">-</div>
    <div class="row-B sixth-second-col">-</div>
    <div class="left-side first-col">Exercise 5</div>
    <div class="row-A second-col">Hanging leg raise</div>
    <div class="row-A third-col">Barbell step up</div>
    <div class="row-A fourth-col">Face pull</div>
    <div class="row-A fifth-col">Single leg romanian deadlift</div>
    <div class="row-A sixth-col">-</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">15-20</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">10-12</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">12-15</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="row-B fifth-first-col">6-8</div>
    <div class="row-B fifth-second-col">3</div>
    <div class="row-B sixth-first-col">-</div>
    <div class="row-B sixth-second-col">-</div>
</div>
<div class="plan-section-grid">
    <h3 class="plan-section-header">Strategy</h3>
</div>
<div class="about-grid">
    <p>Try to finish each day <b>within 5g</b> of each of your macro goals every day. This will ensure you're in
        a calorie deficit while still getting enough protein to keep or build muscle and fuel your workouts.</p>
    <p>Most of your fat burn will come from diet, but the workout plan is still important. Doing these workouts
        will keep your TDEE high and promote a lean, healthy body by ensuring that you don't lose the muscle that you
        have already built.
    </p>
    <p>Try to not have too much rest. It isn't necessary to time your rest periods manually, but keeping them shorter
        will <b>make your workouts more intense</b> and keep your heart rate elevated to burn a few more calories. As
        the weeks progress try to <b>move the weight up each session</b>. Don't worry too much if you plateau; gaining
        and sometimes even maintaining muscle strength can be tough when losing weight as an intermediate lifter,
        especially as you get leaner. Track your sessions so you know
        what you
        lifted last time. As things get heavier, start towards the lower end of the rep range and move up from there.
        Make sure to warm up with light weights at the beginning of each session.
    </p>
    <p><b>Track your weight</b> throughout the weeks. If your weight loss stalls or you gain weight on your macros,
        slowly take away
        carbohydrates 20g a week until you lose weight again. You can also introduce cardio later on in order to help
        burn more
        fat. A good starting point is 200kcal of cardio twice a week. Build this up over time just you like you do with
        your weights.
    </p>
    <p>Another option you have available to you is to introduce HIIT cardio later on when it becomes harder to burn off
        excess fat. These are very intense, so only do this once or twice a week maximum. A great option for the
        intermediate lifter is the Tabata protocol, with 20 seconds all out effort and 10 seconds rest. It is hard. You
        have been warned.</p>
    <p>Don't give up! Aim to lose <b>1%</b> of your overall body weight each week. Do this for a few months and you can
        reveal the slabs of muscle you've already built up. As long as you maintain that muscle, burning off excess fat
        shouldn't be too hard as an intermediate lifter.</p>
</div>