<div class="three-grid">
    <div class="workout-plan-header">{{username}}'s Fat Burning Plan (3 Day Rotation)</div>
    <div class="top-row first-col">Day</div>
    <div class="top-row second-col">Day 1</div>
    <div class="top-row third-col">Day 2</div>
    <div class="top-row fourth-col">Day 3</div>
    <div class="left-side first-col">Focus</div>
    <div class="row-B second-col">Upper</div>
    <div class="row-B third-col">Lower</div>
    <div class="row-B fourth-col">Full body</div>
    <div class="left-side first-col">Exercise 1</div>
    <div class="row-A second-col fourth-row">Barbell bench press</div>
    <div class="row-A third-col fourth-row">Barbell squat</div>
    <div class="row-A fourth-col fourth-row">Deadlift</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col ">8-10</div>
    <div class="row-B second-second-col ">4</div>
    <div class="row-B third-first-col">6-8</div>
    <div class="row-B third-second-col">4</div>
    <div class="row-B fourth-first-col">6-8</div>
    <div class="row-B fourth-second-col">4</div>
    <div class="left-side first-col">Exercise 2</div>
    <div class="row-A second-col">Bent over row</div>
    <div class="row-A third-col">45° leg press</div>
    <div class="row-A fourth-col">Incline barbell press</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">8-10</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">8-10</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">8-10</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="left-side first-col">Exercise 3</div>
    <div class="row-A second-col">Seated dumbbell press</div>
    <div class="row-A third-col">Romanian deadlift (dumbbell)</div>
    <div class="row-A fourth-col">Goblet squat</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">10-12</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">8-10</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">12-15</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="left-side first-col">Exercise 4</div>
    <div class="row-A second-col">Wide grip pull ups</div>
    <div class="row-A third-col">Bulgarian split squats</div>
    <div class="row-A fourth-col">Face pulls</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">6-8</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">10-12</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">12-15</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="left-side first-col">Exercise 5</div>
    <div class="row-A second-col">Skullcrushers</div>
    <div class="row-A third-col">Leg extension</div>
    <div class="row-A fourth-col">-</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">10-12</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">12-15</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">-</div>
    <div class="row-B fourth-second-col">-</div>
    <div class="left-side first-col">Exercise 6</div>
    <div class="row-A second-col">Bicep curl</div>
    <div class="row-A third-col">-</div>
    <div class="row-A fourth-col">-</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">10-12</div>
    <div class="row-B second-second-col">2</div>
    <div class="row-B third-first-col">-</div>
    <div class="row-B third-second-col">-</div>
    <div class="row-B fourth-first-col">-</div>
    <div class="row-B fourth-second-col">-</div>
</div>
<div class="plan-section-grid">
    <h3 class="plan-section-header">Strategy</h3>
</div>
<div class="about-grid">
    <p>Try to finish each day <b>within 10g</b> of each of your macro goals every day. This will ensure you're in
        a calorie deficit while still getting enough protein to keep or build muscle and fuel your workouts.</p>
    <p>Most of your fat burn will come from diet, but the workout plan is still important. Doing these workouts
        will keep your TDEE high and promote a lean, healthy body by ensuring that you don't lose any muscle that you have already built.
    </p>
    <p>Try to not have too much rest. It isn't necessary to time your rest periods manually, but keeping them shorter will <b>make your workouts more intense</b> and keep your heart rate elevated to burn a few more calories. Start at a very comfortable weight to
        start, and as the weeks progress try to <b>move the weight up each session</b>. Track your sessions so you know what you
        lifted last time. As things get heavier, start towards the lower end of the rep range and move up from there.
        Make sure to warm up with light weights at the beginning of each session.
    </p>
    <p><b>Track your weight</b> throughout the weeks. If your weight loss stalls or you gain weight on your macros, slowly take away
        carbohydrates 20g a week until you lose weight again. You can also introduce cardio later on in order to help burn more
        fat. A good starting point is 200kcal of cardio twice a week. Build this up over time just you like you do with your weights.
    </p>
    <p>Another option you have available to you is to introduce HIIT cardio later on when it becomes harder to burn off excess fat. These are very intense, so only do this once or twice a week maximum.</p>
    <p>Don't give up! Aim to lose <b>1%</b> of your overall body weight each week. Do this for a few months and you can see huge changes.</p>
</div>