<a id="dietfaq"></a>
<div class="sectionB grid-item">
    <h2>DIET AND NUTRITION <img class="FAQicon" src="https://www.flaticon.com/svg/static/icons/svg/3274/3274038.svg">
    </h2>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: Do I have to eat boring, tasteless food? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: No! Even though you may think of chicken, broccoli and rice when discussing healthy or 'clean'
        eating to supplement the gym, it doesn't need to be like that.</p>
    <p class="A">Here, we are using a strategy called If It Fits Your Macros (IIFYM). This allows for far more
        flexible eating. As long as you sticking to the macronutrient goals that have been outlined for you,
        they will take care of everything and you will be on track.</p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: So... I can have pizza then?! <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: Yes, actually! Well... Kind of. Though IIFYM definitely means you can eat pizza and still
        reach your goals, you will soon realise that too much pizza will make it impossible to hit your macros.</p>
    <p class="A">As with most things in life, moderation is key. With careful planning, you can fit lots of tasty,
        'normal' foods into your diet. However, don't expect to be eating fatty, sugary foods all the time.
    </p>
    <p class="A">A good rule of thumb to follow is the 80/20 rule. 80% of your diet should be from healthy, whole
        foods like veggies, potatoes and fish. These will keep you full and make sure you get enough micronutrients
        (vitamins and minerals) to stay healthy. The other 20% can come from processed foods like cookies and ice
        cream. These will keep you sane.</p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: Cheat days: good or bad? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: This is an individual choice. Planned days or meals where you intentionally don't adhere to
        your diet can be used as a way of keeping your diet plan enjoyable and discouraging you from cheating
        on the diet when you aren't supposed to.
    </p>
    <p class="A">Of course, what effect this has depends on if you overdo it. Even if you stick to the plan
        all week, an all out binge of 5000 calories on a Friday will seriously set back or even erase all of
        the progress that was just made.
    </p>
    <p class="A">A sustainable way to approach cheat days is to allocate one <i>meal</i> a week where you can
        have something you really like. This could be 2000 calories worth, but since it is only one meal a week
        the damage done is limited.</p>
    <p class="A">Alternatively, just ignore the concept of cheat meals and you'll reach your goals even faster!</p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: How many meals a day? When should I eat? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: For the average person, meal timings and frequency aren't going to make a difference.
        Just sticking to your macros consistently will net you the results you're looking for.
    </p>
    <p class="A">Some people will eat six meals a day, and others will fast for 8 hours every morning before
        having their first meal. Neither is wrong, and both groups can make progress. Find something that
        works for you!
    </p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: This is so much protein! How do I eat all this? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: It can be a shock to someone not used to a high protein diet when they have to eat 2.2g per
        kilo of body weight a day. It's a lot. However, studies have consistently shown this to be more or less
        optimal for someone training frequently, so it is recommended!
    </p>
    <p class="A">There are many ways to get extra protein into your diet. The easiest is protein shakes, whether
        that's whey protein or a plant based alternative. Otherwise, making sure each meal has a strong source of
        protein will help you more consistently get the grams in and hit your macros. Fish, meat, beans, tofu,
        seeds,
        nuts and yoghurt can all be great sources of protein.
    </p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: Why does it matter how the macros are split? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: Each macronutrient plays a different role in your diet. Getting too much of one and not enough
        of
        another can affect your training and recovery, and slow you down.
    </p>
    <p class="A">Protein is very important for someone that trains. Protein helps repair and strengthen muscle
        tissue
        that gets stressed from resistance training, and this is the way muscles adapt to become bigger and
        stronger.
        The recommended amount daily is 2.2g per kilogram of body weight.
    </p>
    <p class="A">Fats are essential as well. As well as long term energy storage, fats play many different roles
        within the body: transporting fat-soluble vitamins, forming steroid hormones, maintaining proper cell
        and nerve functionality., providing essential fatty acids we can't synthesise ourselves... The list goes on.
        At minimum, fats should make up around 15% of our diet.
    </p>
    <p class="A">Though proteins and fats can both be broken down to keep us going, carbs are the main source
        of energy in the body. As someone training frequently, this is very important as going too low in
        carbohydrates
        can lead to bad performance in the gym. For this reason, low carb diets are not advised for people just
        starting
        out.
    </p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: Do I <i>really</i> need to track all this? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: No. You can do whatever you want. But tracking calories/macros is the most effective way to
        make sure you're actually eating what you should be.
    </p>
    <p class="A">Eating when you feel hungry, estimating the calories and macros you've eaten each day, cutting out
        certain foods... These can take you far, but are imprecise and inconsistent. Everyone underestimates how many
        calories they eat, sometimes by more than 1000kcal a day. Even registered dieticians have been shown to
        underestimate their calories by about 300kcal!
    </p>
    <p class="A">It's better to not rely on guesswork. Download a food tracker on your phone like MyFitnessPal.
        Track everything you eat or drink. Be within 10g of each macro goal each day. Get results.
    </p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: This is so much protein! How do I eat all this? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: It can be a shock to someone not used to a high protein diet when they have to eat 2.2g per
        kilo of body weight a day. It's a lot. However, studies have consistently shown this to be more or less
        optimal for someone training frequently, so it is recommended!
    </p>
    <p class="A">There are many ways to get extra protein into your diet. The easiest is protein shakes, whether
        that's whey protein or a plant based alternative. Otherwise, making sure each meal has a strong source of
        protein will help you more consistently get the grams in and hit your macros. Fish, meat, beans, tofu,
        seeds,
        nuts and yoghurt can all be great sources of protein.
    </p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: Can I drink alcohol? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: You can, but it's not going to help. Alcohol negatively affects diet, training and nutrition,
        so it will slow your progress. It's also more calorific than you think, at 7kcal per gram. Protein and
        carbs are 4 calories per gram each, for reference.
    </p>
    <p class="A">Again, moderation is key. Don't overdo it, and plan your rest days to be the day after that big
        party.
    </p>
</div>