<div class="three-grid">
    <div class="workout-plan-header">{{username}}'s Strength Plan (3 Day Rotation)</div>
    <div class="top-row first-col">Day</div>
    <div class="top-row second-col">Day 1</div>
    <div class="top-row third-col">Day 2</div>
    <div class="top-row fourth-col">Day 3</div>
    <div class="left-side first-col">Focus</div>
    <div class="row-B second-col">Big 3</div>
    <div class="row-B third-col">Big 3</div>
    <div class="row-B fourth-col">Big 3</div>
    <div class="left-side first-col">Exercise 1</div>
    <div class="row-A second-col fourth-row">Bench press</div>
    <div class="row-A third-col fourth-row">Squat</div>
    <div class="row-A fourth-col fourth-row">Deadlift</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col ">5</div>
    <div class="row-B second-second-col ">5</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">5</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
    <div class="left-side first-col">Exercise 2</div>
    <div class="row-A second-col">Bench press</div>
    <div class="row-A third-col">Squat</div>
    <div class="row-A fourth-col">Deadlift</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">5</div>
    <div class="row-B second-second-col">5</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">5</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
    <div class="left-side first-col">Exercise 3</div>
    <div class="row-A second-col">Bench press</div>
    <div class="row-A third-col">Squat</div>
    <div class="row-A fourth-col">Deadlift</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">5</div>
    <div class="row-B second-second-col">5</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">5</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
</div>