<div class="five-grid">
    <div class="workout-plan-header">{{username}}'s Strength Plan (5 Day Rotation)</div>
    <div class="top-row first-col">Day</div>
    <div class="top-row second-col">Day 1</div>
    <div class="top-row third-col">Day 2</div>
    <div class="top-row fourth-col">Day 3</div>
    <div class="top-row fifth-col">Day 4</div>
    <div class="top-row sixth-col">Day 5</div>
    <div class="left-side first-col">Focus</div>
    <div class="row-B second-col">Bench first</div>
    <div class="row-B third-col">Squat first</div>
    <div class="row-B fourth-col">Deadlift first</div>
    <div class="row-B fifth-col">Bench first</div>
    <div class="row-B sixth-col">Squat and deadlift</div>
    <div class="left-side first-col">Exercise 1</div>
    <div class="row-A second-col fourth-row">Bench press</div>
    <div class="row-A third-col fourth-row">Squat</div>
    <div class="row-A fourth-col fourth-row">Deadlift</div>
    <div class="row-A fifth-col fourth-row">Bench press</div>
    <div class="row-A sixth-col fourth-row">Squat</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col ">5</div>
    <div class="row-B second-second-col ">5</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">5</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
    <div class="row-B fifth-first-col">5</div>
    <div class="row-B fifth-second-col">5</div>
    <div class="row-B sixth-first-col">5</div>
    <div class="row-B sixth-second-col">5</div>
    <div class="left-side first-col">Exercise 2</div>
    <div class="row-A second-col">Bent over row</div>
    <div class="row-A third-col">Overhead press</div>
    <div class="row-A fourth-col">Pull ups</div>
    <div class="row-A fifth-col">Bent over row</div>
    <div class="row-A sixth-col">Deadlift</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">5</div>
    <div class="row-B second-second-col">5</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">5</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
    <div class="row-B fifth-first-col">5</div>
    <div class="row-B fifth-second-col">3</div>
    <div class="row-B sixth-first-col">5</div>
    <div class="row-B sixth-second-col">3</div>
</div>