<div class="three-grid">
    <div class="workout-plan-header">{{username}}'s Strength Plan (3 Day Rotation)</div>
    <div class="top-row first-col">Day</div>
    <div class="top-row second-col">Day 1</div>
    <div class="top-row third-col">Day 2</div>
    <div class="top-row fourth-col">Day 3</div>
    <div class="left-side first-col">Focus</div>
    <div class="row-B second-col">Volume</div>
    <div class="row-B third-col">Recovery</div>
    <div class="row-B fourth-col">Intensity</div>
    <div class="left-side first-col">Exercise 1</div>
    <div class="row-A second-col fourth-row">Squat (90% 5RM)</div>
    <div class="row-A third-col fourth-row">Squat</div>
    <div class="row-A fourth-col fourth-row">Squat</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col ">5</div>
    <div class="row-B second-second-col ">5</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">2</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">1</div>
    <div class="left-side first-col">Exercise 2</div>
    <div class="row-A second-col">Bench press (90% 5RM)</div>
    <div class="row-A third-col">Overhead press/Bench press</div>
    <div class="row-A fourth-col">Bench press</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">5</div>
    <div class="row-B second-second-col">2</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">1</div>
    <div class="left-side first-col">Exercise 3</div>
    <div class="row-A second-col">Deadlift (90% 5RM)</div>
    <div class="row-A third-col">Chin up (bodyweight)</div>
    <div class="row-A fourth-col">Power clean</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">5</div>
    <div class="row-B second-second-col">1</div>
    <div class="row-B third-first-col">Failure</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">6</div>
    <div class="row-B fourth-second-col">2</div>
    <div class="left-side first-col">Exercise 4</div>
    <div class="row-A second-col">-</div>
    <div class="row-A third-col">Back extension</div>
    <div class="row-A fourth-col">-</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">-</div>
    <div class="row-B second-second-col">-</div>
    <div class="row-B third-first-col">10</div>
    <div class="row-B third-second-col">5</div>
    <div class="row-B fourth-first-col">-</div>
    <div class="row-B fourth-second-col">-</div>
</div>
<div class="plan-section-grid">
    <h3 class="plan-section-header">Strategy</h3>
</div>
<div class="about-grid">
    <p>Try to finish each day <b>within 5g</b> of each of your macro goals every day. This will ensure you're in a
        calorie surplus and have enough energy to lift heavy weights and allow your body to adapt, but only a small one
        to limit fat gain. Use protein shakes if you struggle to eat enough protein/get enough calories.
    </p>
    <p>To gain strength effectively, you will need to have adequate recovery as well as nutrition and training. Make
        sure
        you get the recommended <b>8 hours</b> of sleep a night. Strength training is very taxing on the central nervous
        system in particular, and you need to be getting enough rest or things won't work and you will burn out. If you
        get to after doing the plan for a while where you feel your body needs multiple days off, feel free to listen to
        your body and have a small recovery period.
    </p>
    <p>The workout plan for an intermediate lifter still revolves around heavy compound movements, but the intensity and
        specificity of the workouts are higher than that of a beginner or novice. You need to be aware of what your 1
        rep max or 5 rep max is in order to calculate the correct weights to lift on any given day. As you have
        progressed, linear progression may not be as effective anymore, and just adding the same extra amount of weight
        to the bar each time you do a lift isn't possible. Be resilient and break through plateaus. You will need to
        reach high intensities to do so.
    </p>
    <p>Push for new personal bests on intensity day, and use those new bests to calculate your weights for next week.
        This will keep yourself on an upwards trajectory.</p>
    <p><b>Track your weight</b> throughout the weeks. If your weight drops over time, up your calories
        slowly by adding 20g of carbs each week until you start to gain weight at a slow rate.
    </p>
    <p>Be patient. Getting stronger takes a long time. You will not beat your last lift every single time, but you
        should still see progress steadily month on month.</p>
</div>