<div class="five-grid">
    <div class="workout-plan-header">{{username}}'s Strength Plan (5 Day Rotation)</div>
    <div class="top-row first-col">Day</div>
    <div class="top-row second-col">Day 1</div>
    <div class="top-row third-col">Day 2</div>
    <div class="top-row fourth-col">Day 3</div>
    <div class="top-row fifth-col">Day 4</div>
    <div class="left-side first-col">Focus</div>
    <div class="row-B second-col">Upper</div>
    <div class="row-B third-col">Lower</div>
    <div class="row-B fourth-col">Upper</div>
    <div class="row-B fifth-col">Lower</div>
    <div class="left-side first-col">Exercise 1</div>
    <div class="row-A second-col fourth-row">Bench press</div>
    <div class="row-A third-col fourth-row">Squat</div>
    <div class="row-A fourth-col fourth-row">Overhead press</div>
    <div class="row-A fifth-col fourth-row">Deadlift</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col ">5</div>
    <div class="row-B second-second-col ">5</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">5</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
    <div class="row-B fifth-first-col">5</div>
    <div class="row-B fifth-second-col">3</div>
    <div class="left-side first-col">Exercise 2</div>
    <div class="row-A second-col">Pull ups (weighted)</div>
    <div class="row-A third-col">Bulgarian split squats</div>
    <div class="row-A fourth-col">Bent over row</div>
    <div class="row-A fifth-col">Squat</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">6-8</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">6-8</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
    <div class="row-B fifth-first-col">5</div>
    <div class="row-B fifth-second-col">5</div>
    <div class="left-side first-col">Exercise 3</div>
    <div class="row-A second-col">Overhead press</div>
    <div class="row-A third-col">Deadlifts</div>
    <div class="row-A fourth-col">Bench press</div>
    <div class="row-A fifth-col">Hamstring curls</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">5</div>
    <div class="row-B second-second-col">5</div>
    <div class="row-B third-first-col">5</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
    <div class="row-B fifth-first-col">6-8</div>
    <div class="row-B fifth-second-col">4</div>
    <div class="left-side first-col">Exercise 4</div>
    <div class="row-A second-col">Bent over row</div>
    <div class="row-A third-col">-</div>
    <div class="row-A fourth-col">Rear delt fly</div>
    <div class="row-A fifth-col">-</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">5</div>
    <div class="row-B second-second-col">5</div>
    <div class="row-B third-first-col">-</div>
    <div class="row-B third-second-col">-</div>
    <div class="row-B fourth-first-col">6-8</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="row-B fifth-first-col">-</div>
    <div class="row-B fifth-second-col">-</div>
</div>
<div class="plan-section-grid">
    <h3 class="plan-section-header">Strategy</h3>
</div>
<div class="about-grid">
    <p>Try to finish each day <b>within 10g</b> of each of your macro goals every day. This will ensure you're in a
        calorie surplus and have enough energy to lift heavy weights and allow your body to adapt, but only a small one
        to limit fat gain. Use protein shakes if you struggle to eat enough protein/get enough calories.
    </p>
    <p>To gain strength effectively, you will need to have adequate recovery as well as nutrition and training. Make
        sure
        you get the recommended <b>8 hours</b> of sleep a night. Strength training is very taxing on the central nervous
        system in particular, and you need to be getting enough rest or things won't work and you will burn out. If you
        get to after doing the plan for a while where you feel your body needs multiple days off, feel free to listen to
        your body and have a small recovery period.
    </p>
    <p>You may notice that your workout plan revolves
        around heavy barbell compound lifts. This is because these are the main pillars of strength
        training in a gym, and if you want to get stronger it is very important to become comfortable and skilled in
        performing
        these movements. Start at a weight that is very comfortable, and each session add 2.5kg/5lbs to the bar for each
        lift if you complete your sets without failing. This is <b>linear progression</b> and it will take you far. You
        should have some experience with these movements before as a novice lifter, but if you aren't sure about an
        exercise in your plan, ask
        a gym instructor or use YouTube to learn how to do it properly.
    </p>
    <p><b>Track your weight</b> throughout the weeks. If your weight drops over time, up your calories
        slowly by adding 20g of carbs each week until you start to gain weight at a slow rate.
    </p>
    <p>Be patient. Getting stronger takes a long time. Focus on beating your last lift every time, and you will make
        heaps of progress.</p>
</div>