<a id="getstrongfaq"></a>
<div class="sectionB grid-item">
    <h2>GETTING STRONG <img class="FAQicon" src="https://www.flaticon.com/svg/static/icons/svg/75/75929.svg"></h2>
</div>
<div class="QandA bigQandA grid-item secondaried">
    <h4 class="Q ">
        Q: Does strength carry over from exercise to exercise? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: That depends. If you gain muscle in an area common to two exercises, it's likely that you'll get
        stronger at both exercises due to the extra muscle fibres you can recruit. For example, bench pressing will
        probably make you stronger at a chest fly.</p>
    <p class="A">However, strength is also about the nervous system and practising a movement. Nervous system
        adaptations may not carry over as you'd think from exercise to exercise. As you get used to a certain plane
        of movement, you will get more efficient at it and be able to move more weight. Focus on gaining strength on
        all of your lifts for the best results.</p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: Will strength training make me bigger, too? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: Again, it depends. It's likely that you'll see muscle growth from making your body adapt to
        progressively heavier loads, but muscle growth and strength gain are not the same. Bigger muscles often does
        mean more strength, but strength is dependent on the central nervous system as well. If you lift heavy but
        don't complete a lot of reps, you may get stronger but experience little hypertrophy.</p>
</div>
<div class="QandA grid-item secondaried">
    <h4 class="Q">
        Q: How do I know how strong I <i>really</i> am? <img class="faqarrow"
            src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg">
    </h4>
    <p class="A">A: To find out about strength standards, go and visit <a
            href="https://strengthlevel.com/strength-standards" style="color: var(--accent)">Strength Level</a>.
        There you can find out how you rank against other people.</p>
    <p class="A">However, do note that it doesn't really matter. Some people will be weaker than you, some will be
        stronger. The goal should just be to improve.</p>
</div>
