<div class="four-grid">
    <div class="workout-plan-header">{{username}}'s Strength Plan ("5" Day Rotation)</div>
    <div class="top-row first-col">Day</div>
    <div class="top-row second-col">Day 1</div>
    <div class="top-row third-col">Day 2</div>
    <div class="top-row fourth-col">Day 3</div>
    <div class="top-row fifth-col">Day 4</div>
    <div class="left-side first-col">Focus</div>
    <div class="row-B second-col">Volume squats</div>
    <div class="row-B third-col">Heavy squats</div>
    <div class="row-B fourth-col">Medium squats</div>
    <div class="row-B fifth-col">Bench and deadlift</div>
    <div class="left-side first-col">Exercise 1</div>
    <div class="row-A second-col fourth-row">Squat</div>
    <div class="row-A third-col fourth-row">Squat</div>
    <div class="row-A fourth-col fourth-row">Squat</div>
    <div class="row-A fifth-col fourth-row">Bench press</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col ">7-9</div>
    <div class="row-B second-second-col ">3</div>
    <div class="row-B third-first-col">1-3</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">3-5</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="row-B fifth-first-col">6-8</div>
    <div class="row-B fifth-second-col">3</div>
    <div class="left-side first-col">Exercise 2</div>
    <div class="row-A second-col">Bench press</div>
    <div class="row-A third-col">Bench press</div>
    <div class="row-A fourth-col">Bench press</div>
    <div class="row-A fifth-col">Deadlift</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">7-9</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">1-3</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
    <div class="row-B fifth-first-col">3-5</div>
    <div class="row-B fifth-second-col">5</div>
    <div class="left-side first-col">Exercise 3</div>
    <div class="row-A second-col">Weighted chin ups</div>
    <div class="row-A third-col">Deadlifts</div>
    <div class="row-A fourth-col">Barbell rows</div>
    <div class="row-A fifth-col">Barbell rows</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">7-9</div>
    <div class="row-B second-second-col">3</div>
    <div class="row-B third-first-col">3-5</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">5</div>
    <div class="row-B fourth-second-col">5</div>
    <div class="row-B fifth-first-col">8-12</div>
    <div class="row-B fifth-second-col">3</div>
    <div class="left-side first-col">Exercise 4</div>
    <div class="row-A second-col">-</div>
    <div class="row-A third-col">Overhead press</div>
    <div class="row-A fourth-col">Leg curl</div>
    <div class="row-A fifth-col">-</div>
    <div class="left-side first-first-col details">Reps</div>
    <div class="left-side first-second-col details">Sets</div>
    <div class="row-B second-first-col">-</div>
    <div class="row-B second-second-col">-</div>
    <div class="row-B third-first-col">3-6</div>
    <div class="row-B third-second-col">3</div>
    <div class="row-B fourth-first-col">4-6</div>
    <div class="row-B fourth-second-col">3</div>
    <div class="row-B fifth-first-col">-</div>
    <div class="row-B fifth-second-col">-</div>
</div>
<div class="plan-section-grid">
    <h3 class="plan-section-header">Strategy</h3>
</div>
<div class="about-grid">
    <p>Yes, you picked to train 5 days a week. We know. But with your experience level and your goals, this isn't the
        best idea unless you want to dedicate a really large portion of your life to this. And you probably don't.
        You're busy. Do 4 days instead, you'll still make loads of progress and won't be as likely to injure yourself.
    </p>
    <p>Try to finish each day <b>within 5g</b> of each of your macro goals every day. This will ensure you're in a
        calorie surplus and have enough energy to lift heavy weights and allow your body to adapt, but only a small one
        to limit fat gain. Use protein shakes if you struggle to eat enough protein/get enough calories.
    </p>
    <p>To gain strength effectively, you will need to have adequate recovery as well as nutrition and training. Make
        sure
        you get the recommended <b>8 hours</b> of sleep a night. Strength training is very taxing on the central nervous
        system in particular, and you need to be getting enough rest or things won't work and you will burn out. If you
        get to after doing the plan for a while where you feel your body needs multiple days off, feel free to listen to
        your body and have a small recovery period.
    </p>
    <p>The workout plan for an intermediate lifter still revolves around heavy compound movements, but the intensity and
        specificity of the workouts are higher than that of a beginner or novice. You need to be aware of what your 1
        rep max or 5 rep max is in order to calculate the correct weights to lift on any given day. As you have
        progressed, linear progression may not be as effective anymore, and just adding the same extra amount of weight
        to the bar each time you do a lift isn't possible. Be resilient and break through plateaus. You will need to
        reach high intensities to do so.
    </p>
    <p><b>Track your weight</b> throughout the weeks. If your weight drops over time, up your calories
        slowly by adding 20g of carbs each week until you start to gain weight at a slow rate.
    </p>
    <p>Be patient. Getting stronger takes a long time. You will not beat your last lift every single time, but you
        should still see progress steadily month on month.</p>
</div>