<nav class="navbar sticky-top navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="https://www.flaticon.com/svg/static/icons/svg/563/563828.svg"
                height=70px; width=70px;>Just Tell Me What To Lift</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/generator">Fitness Plan Generator
                    <!--<span class="sr-only">(current)</span>--></a>
                <a class="nav-item nav-link" href="/FAQs">FAQs</a>
                <a class="nav-item nav-link" href="/about">About</a>
                <a class="nav-item nav-link" id="account" href="/account">Account</a>
            </ul>
        </div>
    </div>
    </div>
</nav>