<a id="sitefaq"></a>
<div class="sectionA grid-item">
        <h2>THE SITE <img class="FAQicon" src="https://www.flaticon.com/svg/static/icons/svg/563/563828.svg">
        </h2>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: How on Earth do you calculate all this stuff? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: Thankfully, clever people have already written formulae for working out how much energy
            a person burns. On JTMWTL, the Mifflin-St Jeor equation was adapted to find your TDEE. This is a more
            modern formula that has built on others that can before it. Nowadays, it is largely accepted to give
            the most accurate result. Calorie targets are simply a bit more or less than your TDEE.
        </p>
        <p class="A">Macros were calculated by taking the calorie target and calculating the daily protein, fats,
            and carbs in that order. Protein is 2.2g per kilo of body weight, fats are a certain percentage based
            on what you pick, and carbs fill the rest of the calories.
        </p>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: What was each bit of the form for? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: Most are probably pretty obvious, but each question answered in the form was necessary for
            creating your personal plan. Height, weight, age and sex all affect TDEE and are used in the formula.
            Experience, goals and training frequency are needed to give a workout plan that you can actually stick
            to and will give you the results you're looking for. The carbohydrate question is just to tailor the
            nutrition slightly more to your tastes.
        </p>
        <p class="A">It's pretty simple, really. No need to answer more than you need to.
        </p>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: How do you make something like this? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: By learning a whole lot about web development, and working at it for a while.
        </p>
        <p class="A">For those that want to know the tech stuff, this is a web app made in Node.js using
            Express and Handlebars. The front end is simple HTML and CSS.
        </p>
    </div>
    <div class="QandA grid-item accented">
        <h4 class="Q">
            Q: Why don't you offer 2 or 6 sessions a week? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: Part of it is to keep things simple and easy for the users. More choice isn't always better.
        </p>
        <p class="A">The other part of it is that 2 is probably too little and 6 is probably too much. People can make
            good progress on 2 sessions on a week, but the sessions would have to be pretty long and intense. 6 days
            can make for a great training schedule, but the returns you get over a 4 or 5 session a week plan is minimal.
            Or even non-existant. At that point, you're just training more because you like to train.
        </p>
        <p class="A">The vast majority of people should be training 3-5 days a week and enjoying other things on the other
            days.
        </p>
    </div>
    <div class="QandA bigQandA grid-item accented">
        <h4 class="Q">
            Q: What do 'beginner', 'novice' and 'intermediate' mean? <img class="faqarrow"
                src="https://www.flaticon.com/svg/static/icons/svg/892/892499.svg" height="1rem" width="1rem">
        </h4>
        <p class="A">A: Beginner is just that. Someone completely new to the gym and lifting weights. This person should
            be focusing on learning how to exercise properly.
        </p>
        <p class="A">Novice refers to someone that has been in the gym for a decent amount of time and seen some progress
            before, but still has a long way to go. A novice will still be able to make plenty of progress month to month.
        </p>
        <p class="A">To be an intermediate here, you will probably have done a lot of this before for probably well over a
            year. You've built strength that would impress most non-gym goers. You know all the exercises already. You can
            handle higher training volume and train consistently. You get a slightly more advanced plan, well done.
        </p>
        <p class="A">Why is there no expert? Well, that's because no expert lifter needs this site. These lifters have 
            trained intelligently for 5+ years and have dedicated a <i>lot</i> of time into it. The progress they make
            each year is minimal, as they are close to their genetic potential. Very few of us reach this point.
        </p>
    </div>