<! DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="./style.css"/>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Teko"/>
        <title>JTMWTL: {{ title }}</title>
    </head>
    <body>     
        {{{ body }}}
        <img src="https://www.flaticon.com/svg/static/icons/svg/563/563828.svg" height=500px; width=500px;>
    </body>
</html>