<div class="about-grid">
    <h2>About</h2>
    <hr>
    <h5>Getting fit is hard, but it isn't that complex.</h5>
    <p>Even the strongest guy in the gym was once a beginner. Everyone starts at a point where
        they've never touched a weight before and don't really know what they're doing.
    </p>
    <p>In order to learn how to get what they want out of the gym, people will usually be taught
        in some way by someone that has done it before. This information is invaluable, and lots
        of people dedicate their lives to giving that information to those that know less than them.
        Thanks to the internet, finding that information is easier than ever.
    </p>
    <p>The problem? There's too much information now! And a lot of this information contradicts other
        information. Or the information is locked behind a paywall, with an unnatural lifter trying
        to scam people that don't know any better out of their money. It can be very confusing what
        to listen to.
    </p>
    <p>The thing is, burning fat, getting strong, and building muscle for the average girl or guy
        really isn't that complicated. In every successful diet plan and workout regime are a few
        fundamental concepts that are always there. Every single one.
    </p>
    <p>That's why I created this website. Most people just need someone to tell them what to lift,
        and what to eat. And then those people need to stick to a plan and get the work done. If
        they do that, they'll get results. It's really that simple.
    </p>
    <p>I know what I'm doing these days after years in the gym and experience in competitive
        weightlifting. However, back when I first started I could've really benefitted from a site
        like this to give me direction and stop myself wasting my own time. Through my own experiences
        and knowledge, and collaboration with a qualified personal trainer, I'm cutting the unnecessary
        complication out of fitness and training. For free.</p>
    <p>Let's get to work!</p>
    <h6>-TB</h6>
</div>