<h3>Want to change your password? No problem.</h3>
<div class="container padding mt-2">
    <div class="form-group">
        <h1>Change password</h1>
        <form action="/account/changepassword" method="POST">
            <input type="password" name="oldpass" placeholder="Old password" required>
            <input type="password" name="newpass" placeholder="New password" required>
            <input type="password" name="confirmation" placeholder="Password confirmation" required>
            <input type="submit">
        </form>
    </div>
</div>