<h1 class="mainheader">Frequently Asked Questions</h1>
<hr />
<p>These days, the problem isn't finding fitness advice. It's filtering out what advice to listen to. Every other
    article or video is just a way to sell you yet another protein powder or generic e-book.</p>
<p>Not here. This section will answer many of the common questions that people have when trying to reach their goals,
    and aim to give general advice that anyone can apply to see great results.</p>
<p>No nonsense.</p>
<hr>
<div id="faqlist">
    <span><a href="./faqs/#burnfatfaq">Burning Fat</a></span>
    <span><a href="./faqs/#getstrongfaq">Getting Strong</a></span>
    <span><a href="./faqs/#buildmusclefaq">Building Muscle</a></span>
    <span><a href="./faqs/#dietfaq">Diet and Nutrition</a></span>
    <span><a href="./faqs/#sitefaq">The Site</a></span>
</div>
<hr>
<div id="faq-grid">
    {{> burnfatfaq}}
    {{> getstrongfaq}}
    {{> buildmusclefaq}}
    {{> dietfaq}}
    {{> sitefaq}}
</div>
<div style="padding: 30px">