<h1>Registration</h1>
<hr>
<h3>In order to keep track of who you are and what fitness plan you should be shown, you need to register first.</h3>
<p>Don't worry, you don't even need to give us an email. No spam from us!</p>
<hr>
<div class="container padding mt-2">
    <div class="form-group">
        <h1>Register</h1>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" id="pass" name="password" placeholder="Password" required>
            <input type="password" id="conf" name="confirmation" placeholder="Password confirmation" required>
            <input type="submit">
        </form>
    </div>
</div>